{% extends 'base.html' %}

{% block title %}
	Django | Password Change
{% endblock %}

{% block content %}

<div class="row">

	<div class="col-md-3"></div>

	<div class="col-md-6">

		<form class="text-center border border-light p-5" method="post">
		    {% csrf_token %}

		    <p class="h4 mb-4">Change Password</p>

		    {% if not user.has_usable_password %}
				<p style="color: red">You have not defined a password yet.</p>
			{% endif %}

	    	{{ form.as_p }}

		    <!-- change password button -->
		    <button class="btn btn-info btn-block" type="submit">Save changes</button>

		</form>
	</div>

	<div class="col-md-3"></div>

</div>

<script type="text/javascript">
	
	var ulElement = document.getElementsByTagName("li");
	ulElement.classList.add("text-left");
	console.log("script is running");

</script>

{% endblock %}
