{% extends "base.html" %}

{% block title %}
	Django - Settings
{% endblock %}

{% block content %}

	<h2 class="text-left mt-4">Settings</h2>

	<h3 class="mt-4">Github Settings</h3>

	{% if github_login %}

		<p class="">Connected as <a href="https://github.com/{{ github_login.extra_data.login }}/" target="_blank">{{ github_login.extra_data.login }}</a></p>

		{% if can_disconnect %}

		<form method="post" action="{% url 'social:disconnect' 'github' %}">
			{% csrf_token %}
			<button class="btn btn-outline-secondary waves-effect" type="submit">Disconnect from Github</button>
		</form>

		{% else %}

		<button class="btn btn-outline-danger waves-effect btn-disabled" type="submit" disabled>Disconnect from github</button>
		<p>You must define a <a href="{% url 'password' %}">password</a> before disconnecting from Github</p>

		{% endif %}

	{% else %}

		<a class="btn btn-outline-success waves-effect" href="{% url 'social:begin' 'github' %}">Connect to Github</a>

	{% endif %}
	
	<h3 class="mt-4">Twitter Settings</h3>

	{% if twitter_login %}

		<p>Connected as <a href="https://twitter.com/{{ github_login.extra_data.access_token.screen_name }}/" target="_blank">{{ github_login.extra_data.login }}</a></p>

		{% if can_disconnect %}

		<form method="post" action="{% url 'social:disconnect' 'twitter' %}">
			{% csrf_token %}
			<button class="btn btn-outline-danger waves-effect" type="submit">Disconnect from Twitter</button>
		</form>

		{% else %}

		<button type="submit" disabled>Disconnect from twitter</button>
		<p>You must define a <a href="{% url 'password' %}">password</a> before disconnecting from Twitter</p>

		{% endif %}

	{% else %}

		<a class="btn btn-outline-success waves-effect" href="{% url 'social:begin' 'twitter' %}">Connect to twitter</a>

	{% endif %}

	<h3 class="mt-4">Facebook Settings</h3>

	{% if facebook_login %}

		<p>Connected as <a href="https://facebook.com/{{ github_login.extra_data.id }}/" target="_blank">{{ facebook_login.extra_data.login }}</a></p>

		{% if can_disconnect %}

		<form method="post" action="{% url 'social:disconnect' 'facebook' %}">
			{% csrf_token %}
			<button class="btn btn-outline-danger waves-effect" type="submit">Disconnect from Facebook</button>
		</form>

		{% else %}

		<button type="submit" disabled>Disconnect from facebook</button>
		<p>You must define a <a href="{% url 'password' %}">password</a> before disconnecting from Facebook</p>

		{% endif %}

	{% else %}

		<a class="btn btn-outline-success waves-effect" href="{% url 'social:begin' 'facebook' %}">Connect to Facebook</a>

	{% endif %}


{% endblock %}
